.dropdownContainer{
    /* margin-top: 40px; */
    background-color: red;
    width: 240px;
    overflow-wrap: normal;
    color:white
    /* overflow-y: scroll; */
}
.menuClass {
    box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff, 2px 5px 5px #00000017,
      4px 11px 7px #0000000d, 8px 19px 8px #00000003;
    padding: 0 0 3px 10px;
    border-radius: 0 0 10px 10px;
    margin-top: -10px;
    padding-top: 20px;
    height:300px;
    overflow-y: scroll;
    width: 280px;
    background-color: white;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
  }

.placeholderClassName{
    margin-right: auto;
    color: white;
    padding-left: 30px;
    font-size: 15px;
    font-weight: 500;
    height: 15px;
    
    letter-spacing: 0;
    line-height: normal;
  
}
  
.controlClassName {
    box-shadow: 0px 0px 0px #0000001a, 0px 1px 3px #0000001a,
      2px 5px 5px #00000017, 4px 11px 7px #0000000d, 8px 19px 8px #00000003,
      12px 29px 9px transparent;
    height: 37px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
    cursor: pointer;
  }
  
